[flake8]
exclude =
    .git,
    __pycache__,
docstring-convention = numpy
max_complexity = 12
max_function_length = 150
ignore = D105
# for compatibility with black
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
max-line-length = 88
extend-ignore = E203, E704
