# Bytes
__pycache__/
*.py[cod]
*$py.class

# packaging
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*

# dataset-specific files
bids_filter.json 
