[submodule "workflow/proc_pipe/tractoflow/tractoflow"]
	path = workflow/proc_pipe/tractoflow/tractoflow
	url = git@github.com:scilus/tractoflow.git
[submodule "nipoppy/workflow/proc_pipe/tractoflow/tractoflow"]
	path = nipoppy/workflow/proc_pipe/tractoflow/tractoflow
	url = https://github.com/scilus/tractoflow.git
	datalad-url = https://github.com/scilus/tractoflow.git
