---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# To use to configure behavior of pre-commit ci
# ci:
#     skip: [hadolint-docker]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        exclude: .*\.tsv
    -   id: check-toml
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
    -   id: isort
        args: [--profile, black]
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
    -   id: black
        args: [--config=pyproject.toml]
-   repo: https://github.com/pyCQA/flake8
    rev: 7.1.2
    hooks:
    -   id: flake8
        args: [--verbose, --config, .flake8]
        additional_dependencies: [flake8-docstrings]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [--toml=pyproject.toml]
        additional_dependencies: [tomli]
