[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "nipoppy"
authors = [{ name = "nikhil153" }]
version = "0.1.0"


dependencies = [
    "pandas",
    "numpy",
    "joblib",
    "pydicom",
    "nibabel",
    "pybids",
    "requests",
]

[project.optional-dependencies]
test = ["pytest", "pytest-cov", "datalad"]

# alias in case of typo
tests = ["nipoppy[test]"]

[tool.hatch.build.targets.wheel]
packages = ["nipoppy"]

[tool.hatch.build]
include = [
    "nipoppy/workflow/proc_pipe/tractoflow/tractoflow",
    "nipoppy/workflow/proc_pipe/tractoflow",
]

[tool.codespell]
skip = '.git,.github,*.pdf,*.svg,pyproject.toml,*.ipynb,*.html,ppmi_imaging_descriptions.json'
ignore-words-list = 'te,ines'

[tool.pytest.ini_options]
addopts = "-ra -q -vv --cov nipoppy"
testpaths = ["tests/"]
norecursedirs = ["tests/data"]

[tool.isort]
combine_as_imports = true
line_length = 79
profile = "black"
skip_gitignore = true

[tool.black]
line-length = 79
