---
name: Run tests

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

# cancel previous runs if new one is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    # only trigger on upstream repo
    if: github.repository_owner == 'neurodatascience' && github.event.repository.name == 'nipoppy'

    steps:

    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: |
        cd nipoppy_cli
        pip install -U pip
        pip install .[tests]

    - name: Run tests
      run: |
        python -m pytest nipoppy_cli --cov=nipoppy_cli/nipoppy --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        name: codecov-umbrella
        token: ${{ secrets.CODECOV_TOKEN }}
