---
name: test

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

# cancel previous runs if new one is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test:

    runs-on: ubuntu-latest

    # only trigger on upstream repo
    if: github.repository_owner == 'neurodatascience' && github.event.repository.name == 'nipoppy'

    steps:

    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
          sudo apt-get update
          sudo apt-get install -y git-annex

    - name: Install nipoppy
      run: |
        pip install -U pip
        pip install .[tests]

    - name: Install data
      run: make -C tests data/ds004097

    - name: Test
      run: python -m pytest tests --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.xml
        name: codecov-umbrella
        fail_ci_if_error: false
